@-moz-document domain("linux.org.ru") {
    html, body {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
    }
    body {
        font-weight: normal !important;
        margin-top: 1em !important;
        max-width: 100% !important;
        width: auto !important;
    }
    * {
        font-family: PT Sans Caption !important;
    }
    textarea,
    #commentForm,
    input,
    code {
        color: #000000 !important;
    }
    body {
        color: #000000 !important;
        margin: 25px 10px 10px 10px !important;
    }
    a {
        color: #0030c0 !important;
    }
    #guser {
        color: #fff !important;
    }
    #hd .menu .primary a {
        color: #000000 !important;
    }
    #hd .menu .secondary a {
        color: #000000 !important;
    }
    .btn,
    .btn:hover,
    button,
    button:hover,
    .btn-danger {
        background-color: #E5E5E5 !important;
        border-color: #000000 !important;
        border-radius: 0 !important;
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 190, 0) !important;
        box-shadow: 0 0 0 0 rgba(255, 255, 190, 0) !important;
        color: #000000 !important;
        cursor: default !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        font-size: 9pt !important;
    }
    #ft {
        border: 1px solid #909090 !important;
        padding: 0 !important;
    }
    #ft-back-button {
        display: none !important;
    }
    .btn:hover,
    button:hover {
        background-color: #ECECEC !important;
    }
    figure.medium-image {
        float: none !important;
        text-align: left;
    }
    #ft-info,
    #ft-info a {
        margin-top: 0.5em !important;
        margin-bottom: 1em !important;
        text-align: center !important;
        color: #909090 !important;
    }
    #bd h2 * {
        color: #000000 !important;
    }
    #bd .tags a {
        color: #0030e0 !important;
    }
    #bd .sign a {
        color: #000000;
        text-decoration: none !important;
    }
    #bd .sign a:hover {
        color: #0080C0 !important;
        text-decoration: underline !important;
    }
    #bd .sign a:visited {
        color: #606090 !important;
    }
    .msg {
        font-size: 11pt !important;
    }
    .sign {
        padding-left: 0 !important;
    }
    .msg footer .sign {
        margin-left: 85px !important;
    }
    #bd .messages h1,
    .messages h2 {
        color: #000 !important;
        font-size: 11pt !important;
        font-weight: bold !important;
        margin-top: 0 !important;
        /*margin-top: 5px !important;*/
    }
    #bd .messages h1,
    .news h2 {
        font-size: 16pt !important;
        margin-top: 5px !important;
    }
    fieldset {
        border: 1px solid #000000 !important;
    }
    fieldset legend {
        color: black !important;
    }
    #bd {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .infoblock {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
        border: 1px solid #000000 !important;
        -webkit-border-radius: 0 !important;
        -khtml-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    #bd div.messages div.infoblock {
        display: none !important;
    }
    .nav li a {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
        border: none !important;
    }
    .fav-buttons {
        display: none !important;
    }
    #bd h1,
    h2 {
        color: #555 !important;
        font-size: 16pt !important;
        margin-bottom: 0 !important;
        margin-top: 0.5em !important;
    }
    #bd nav {
        margin-bottom: 0 !important;
    }
    .user-remark {
        color: #ffffff !important
    }
    .grid-row {
        display: none !important;
    }
    a span.tag {
        background-color: inherit !important;
        border: 1px dotted #000000;
        border-radius: 0 !important;
        float: left !important;
        margin-left: -1px;
        margin-right: 3px !important;
        padding: 0 2px 0 2px;
    }
    .quote {
        border: #000000 dotted 1px !important;
        display: block !important;
        margin: 0 -1px -1px 0 !important;
        padding: 0.2em 0 0 1em !important;
    }
    div.messages .title {
        background: none !important;
        margin-left: 2px !important;
    }
    .messages .comment .title {
        background: none !important;
        padding: 0 !important;
    }
    .message-table tbody {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
    }
    table.nav > tbody > tr > td {
        background: none !important;
        border: 0 solid #000000 !important;
    }
    .nav {
        background: none !important;
        margin-bottom: 0 !important;
        margin-top: 0.7em !important;
    }
    .message-table {
        background: #000000 !important;
    }
    .message-table td {
        background: #DCDAD5 !important;
        /* 2015-07-05 */
    }
    .bluehead {
        background: none !important;
    }
    .messages .msg:target {
        background-color: #e9e9e9 !important;
    }
    .msg {
        -webkit-border-radius: 0 !important;
        -khtml-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    #bd .forum table thead {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
        color: #707070 !important;
    }
    #bd .forum table th {
        border: 0 !important;
        color: #909090 !important;
    }
    #bd .forum table * {
        border-color: #909090 !important;
    }
    #bd .forum table tbody td * {
        color: #0000ad !important;
    }
    .messages .msg {
        background: #DCDAD5 !important;
        /* 2015-07-05 */
        border-color: #000000 !important;
        border-style: solid !important;
        border-width: 1px !important;
        margin-bottom: 5px !important;
        padding-bottom: 5px !important;
        word-wrap: break-word !important;
    }
    button,
    input,
    select,
    .valid {
        border: 1px solid #000000 !important;
    }
    .message-w-userpic p span {
        white-space: normal !important;
        width: auto !important;
    }
    .message-w-userpic {
        padding-left: 85px !important;
    }
    #bd a:visited {
        color: #003090 !important;
    }
    #bd .forum table tbody td a:visited {
        color: #babdb6 !important;
    }
    #navPath a:visited {
        color: #729FCF !important;
    }
    #bd .forum table tbody tr:hover {
        background-color: #5c3566 !important;
    }
    #whois_userpic {
        background: #DCDAD5 !important;
        /* 2015-07-05 */
        border: 1px solid #000000 !important;
        border-radius: 0 !important;
    }
    code,
    .code {
        background: #505050 !important;
        border: 1px solid #000000 !important;
        -webkit-border-radius: 0 !important;
        -khtml-border-radius: 0 !important;
        border-radius: 0 !important;
        color: white !important;
        font-family: terminus !important;
    }
    code {
        border: 0 !important;
        font-size: 10pt !important;
    }
    textarea {
        border: 1px solid #000000 !important;
        font-size: 10pt;
        /* 11 */
        font-weight: normal !important;
    }
    #bd .forum table tbody tr:hover {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
    }
    #bd .forum table tbody tr td a:visited {
        color: #858585 !important;
    }
    pre .shebang,
    pre .comment,
    pre .template_comment,
    pre .javadoc {
        color: #95FF8F !important;
    }
    #bd .column .boxlet {
        background: none !important;
        border: 1px solid #000000 !important;
        padding: 1em !important;
        width: 85% !important;
    }
    #bd .column .boxlet h2 {
        background: none !important;
    }
    .boxlet {
        background: none !important;
        border: 1px solid #000000 !important;
        -webkit-border-radius: 0 !important;
        -khtml-border-radius: 0 !important;
        border-radius: 0 !important;
        padding: 1em !important;
        width: 85% !important;
        /*moz-border-radius: 0 !important;*/
    }
    .page-number {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
        border: none !important;
        padding: 2px !important;
    }
    #bd iframe {
        display: none !important;
    }
    #user-menu {
        background-color: #DCDAD5 !important;
    }
    #contents {
        background: #DCDAD5 !important;
        color: #000 !important;
    }
    .portlet {
        background: #DCDAD5 !important;
        border-radius: 0 !important;
    }
    table {
        background-color: #DCDAD5 !important;
        border-color: #000000 !important;
    }
    #contents-header,
    #content-article h1,
    h2,
    h3,
    h4,
    h5 {
        color: #000 !important;
    }
    img.photo {
        border-radius: 0 !important;
        height: auto !important;
        width: auto !important;
    }
    .msg-container img.photo {
        max-height: 60px !important;
        max-width: 60px !important;
    }
    .msg-container div.userpic {
        width: 65px !important;
    }
    #bd .messages h1 a,
    .messages h2 a {
        color: #000000 !important;
    }
    .news h2 a {
        font-weight: bold !important;
        margin-top: 5px !important;
    }
    .boxlet {
        min-width: 250px !important;
        padding: 5px 20px 15px 5px !important;
    }
    #news {
        margin-left: 305px !important;
        max-width: 700px !important;
    }
    .boxlet,
    .boxlet div {
        font-size: 9pt !important;
    }
    .boxlet h2,
    .boxlet h2 * {
        font-size: 12pt !important;
    }
    .message-table {
        font-size: 10pt !important;
    }
    .message-table td {
        padding: 5px !important;
    }
    .message-table table {
        border: 0 !important;
    }
    .msg {
        font-size: 10pt !important;
    }
    h1 * {
        font-size: 14pt !important;
    }
    h2 * {
        font-size: 15pt !important;
    }
    .mini-news {
        font-size: 10pt !important;
    }
    blockquote {
        border-left: 2px solid #c0c0c0 !important;
        font-style: normal !important;
        margin-left: 5px !important;
        padding-left: 15px !important;
    }
    #related-topics {
        border: 1px solid #909090 !important;
        font-size: 10pt !important;
        margin-top: 20px !important;
        padding: 10px !important;
    }
    #related-topics h2 {
        font-size: 14pt !important;
        margin-top: 0 !important;
    }
    pre {
        font-size: 10pt !important;
    }
    /* Fixed top-menu */
    #hd .menu {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
        border-bottom: 1px solid !important;
        font-size: 9pt !important;
        font-weight: bold !important;
        height: 18px !important;
        left: -9px !important;
        margin-top: 0 !important;
        padding-left: 35% !important;
        padding-top: 0 !important;
        position: fixed !important;
        width: 100% !important;
        top: 0;
        z-index: 10 !important;
        /*background-color:#D9D1C1 !important;*/
        /*border-bottom: 1px solid #B0A692 !important;*/
    }
    #hd .menu li {
        margin-top: 1px !important;
    }
    #loginGreating {
        color: #DCDAD5 !important;
        /* 2015-07-05 */
        font-size: 9pt !important;
        font-weight: bold !important;
        margin-right: 1px !important;
        margin-top: -1px !important;
        padding-top: 1px !important;
        position: fixed !important;
        right: 3px !important;
        top: 2px !important;
        z-index: 11 !important;
    }
    #loginGreating img {
        position: fixed !important;
        right: 1px !important;
        top: 4px !important;
    }
    #sitetitle {
        color: #000 !important;
        font-size: 9pt !important;
        left: -20px !important;
        position: fixed !important;
        text-decoration: none !important;
        top: -6px !important;
        z-index: 11 !important;
    }
    #hd .menu a {
        color: #000 !important;
    }
    #bd div.messages form div.nav div.nav-buttons select {
        font-size: 9pt !important;
        height: 20px !important;
        margin-top: -1px !important;
        position: fixed !important;
        right: 90px !important;
        top: 0 !important;
        z-index: 11 !important;
    }
    #bd form#tracker div.nav div.nav-buttons select#filter {
        font-size: 9pt !important;
        height: 20px !important;
        margin-top: -1px !important;
        position: fixed !important;
        right: 148px !important;
        top: 0 !important;
        z-index: 11 !important;
    }
    #bd form#tracker div.nav div.nav-buttons input {
        font-size: 9pt !important;
        height: 20px !important;
        margin-top: -1px !important;
        position: fixed !important;
        right: 90px !important;
        top: 0 !important;
        z-index: 11 !important;
    }
    .nav-buttons a {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 190, 0) !important;
        box-shadow: 0 0 0 0 rgba(255, 255, 190, 0) !important;
    }
    #wiki-page #wiki-content .tab-menu li {
        background-color: #DCDAD5 !important;
        /* 2015-07-05 */
        font-size: 9pt !important;
    }
    #wiki-page #contents {
        border-radius: 0 !important;
        margin-top: 0 !important;
    }
    #nav-menu {
        border: 1px solid #000000 !important;
    }
    #nav-menu li * {
        text-decoration: underline !important;
    }
    button,
    input,
    select {
        font-size: 10pt !important;
    }
    .control-group label,
    .control-group font,
    #comment-form button {
        font-size: 7pt !important;
    }
    .msg_body p {
        line-height: 1.5em !important;
    }
    /* For "LOR 2ch-style" script */
    div .msg_body h2 {
        font-size: 11pt !important;
    }
    div .msg_body .sign {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    div .msg_body .reply,
    .reply {
        margin-top: 0.5em !important;
        padding: 0 !important;
    }
    div .msg_body .reply ul {
        display: inline !important;
    }
    div .msg_body .reply li,
    .reply li {
        display: inline !important;
        font-size: 8pt !important;
    }
    div .msg_body .reply li:after {
        content: "]" !important;
    }
    div .msg_body .reply li:before {
        content: "[" !important;
    }
    div .msg_body .answers {
        margin-top: 0.5em !important;
    }
    hr {
        height: 0 !important;
        border: 0 !important;
        border-top: 1px solid #909090 !important;
    }
    #hd {
        margin: 0 !important;
    }
}
