@-moz-document domain("geektimes.ru"),
domain("habrahabr.ru"),
domain("megamozg.ru"),
domain("habr.ru") {
    #layout .inner {
        margin-top: 0 !important;
    }
    #layout #navbar {
        top: 0 !important;
        bottom: 0 !important;
    }
    #TMpanel,
    #layout #navbar .nav_panel .scroll_to_up,
    .float_block,
    .sidebar_right .no_please_one_one_one,
    .ya_banners,
    .html_banner,
    .firskill__label,
    .float_yandex_ad {
        display: none !important;
    }
    .similar-posts,
    .privet {
        display: none !important;
    }
}
