@-moz-document domain("vk.com") {
    /* Заголовок */
    #header span, #header b {
        /*color: #AAB7C5;*/
        color: #BFBA83 !important;
    }
    #header {
        position: relative;
        font-weight: bold;
        font-size: 11px;
        padding: 7px 10px;
        line-height: 140%;
        /*background: #E9EDF1;*/
        background: #F5EDBC !important;
        /*#F5EDBC;*/
        color: #070200 !important;
        /*#607387;*/
        border: solid #D9E0E7;
        border-width: 0px 1px;
    }
    /* Отображение личной информации */
    /*
    #profile_full_info {
    display: block !important;
    }

    .profile_info_link {
    display: none !important;
    }
     */
    /* Подсветка непрочитанных сообщений */
    /*#mail_rows tr.new_msg {
    background-color: #e1e7ed !important;
    }

    .dialogs_new_msg {
    background-color: #fffad7!important;
    }

    td.dialogs_msg_contents .dialogs_new_msg {
    background-color: #fffad7 !important;
    }
     */
    .friends_bigph {
        display: none !important;
    }
    .friends_bigph,
    #left_ads,
    .ad_box_new {
        display: none !important;
    }
    * {
        -webkit-border-radius: 0 !important;
        -khtml-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
}
